.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #395886;
    padding: 10px;
    color: #f5eded;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
.navbar-left {
    margin-right: auto;
    padding-left:30px;
    color: #eeee;

  }
  
.site-name {
    font-size: 22px;
    text-shadow: 0 2px 5px #2A60FF;
  }
  
.navbar-right {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 50px;
  }
  
.navbar-right li {
    display: inline;
    margin-left: 30px;
    color: rgb(243, 240, 240);
  }
  
.navbar-right li a {
    color: #f5eeee;
    text-decoration: none;
    font-size: 22px;
  }
  
.navbar-right li a:hover {
    color: #2A60FF;
    text-shadow: 2px 2px 2px black;
  }
  
*{
    margin: 0px;
}

.card-header {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid darkslategrey;
  }
  
.card-header h2 {
    margin: 0;
    font-weight: bold;
  }
  
.card-body {
    padding: 1rem;
  }
  
.card-body p,
  .card-body li {
    margin-bottom: 0.5rem;
  }

  
.card {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1rem;
    margin: 20px auto;
    max-width: 800px;
  }

.feed{
    padding-top: 80px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  }
  
h3{
    text-align: center;
}

.image {
  float: left; 
  margin-top: 120px;
  margin-left: 60px;
  width: 90%; 
}

.image img {
  max-width: 100%; 
  min-height: 100%;
}

.home {
  display: flex;
  background-color: #f0eaea;
  align-items: center; 
  justify-content: center;
}

.intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.image {
  display: flex;
  width: 70%;
  justify-content: center;
  
}

.image img {
  max-width: 100%; 
  box-shadow: -5px 5px 15px rgba(2, 2, 179, 0.763);
}

.content {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 80px;
}

.content h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.content ul {
  list-style-type: none;
  padding-left: 0;
}

.content li {
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 20px;
}

.footer {
  background-color: #413f3f;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}

.footer-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section.social ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-section.social ul li a {
  color: #fff;
  font-size: 18px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 8px;
  text-align: center; 
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
}

.pagination li button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination li button.active {
  background-color: #ccc;
}

.footer-section h2{
  color:#2A60FF;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card{
  background-color: rgba(245, 210, 210, 0.5);
  box-shadow: 0 0 15px red;
  border-radius: 30px;
}

.card li{
  list-style: square;
}